/* sidenav da direita */
.sidenav {
  height: 90vh;
  right: 0;
  writing-mode: vertical-rl;
  position: fixed;
  display: flex;
  align-items: center;
  margin: 8vh 7.07vw auto 0;
  justify-content: center;
}

.sidenav > a > span {
  display: block;
  width: 100%;
  font-size: 1.26em;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}

.sidenav > .line {
  width: 1px;
  height: 50px;
  background-color: var(--color-primary);
}

.sidenav > a > .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}

.sidenav > a > .circle:hover {
  background-color: var(--color-primary);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}


@media (max-width: 810px) {
  .sidenav {
    display: none;
  }

  
}