.main-introduction {
  grid-area: conten;
  display: flex;
  justify-content: space-between;
}

/* esquerda */
.main-introduction > .job {
  writing-mode: vertical-rl;
  transform: scale(-1);
  width: auto;
  display: inline-block;
  position: relative;
}

.main-introduction > .job > span {
  display: block;
  width: 100%;
  font-size: 1.26em;
  text-align: center;
  text-transform: uppercase;
}

/* meio */
.main-introduction > .intro {
  font-family: var(--font-secondary);
  text-transform: capitalize;
  font-weight: 200;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 14vh;
}

.main-introduction > .intro > .name {
  font-size: 2.5em;
  font-weight: 100;
}

.main-introduction > .intro > .icon {
  height: 1.26em;
  width: auto;
  margin: 20px 7px 0 0;
}

.main-introduction > .intro > .local {
  font-size: 1.26em;
  letter-spacing: 1px;
  text-transform: capitalize;
}

/* direita */
/* direita */
.main-introduction > .sidenav {
  writing-mode: vertical-rl;
  transform: scale(1);
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-introduction > .sidenav > a > span {
  display: block;
  width: 100%;
  font-size: 1.26em;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}

.main-introduction > .sidenav > .line {
  width: 1px;
  height: 50px;
  background-color: var(--color-primary);
}

.main-introduction > .sidenav > a > .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}

.main-introduction > .sidenav > a >.circle:hover {
  background-color: var(--color-primary);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 810px) {
  .main-introduction > .job,
  .main-introduction > .sidenav {
    margin: 0 10px;
  }
}
