.main-presentation {
  grid-area: conten;
  display: flex;
  justify-content: space-between;
}

/* meio */
.main-presentation > .presentation {
  margin-bottom: 14vh;
  align-self: flex-end;
}

.main-presentation > .presentation > .photo {
  height: 50%;
  width: 100%;
  margin-bottom: 10vh;
}

.main-presentation > .presentation > .photo > .img {
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  background-image: url("../../img/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: flex-end;
  border-radius: 50%;
  background-color: rgba(20, 18, 18, 0.8);
}

.main-presentation > .presentation > .photo > .img:before {
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  align-self: flex-end;
  border-radius: 50%;
  background-color: rgba(20, 18, 18, 0.8);
}

.main-presentation > .presentation > .resume {
  font-family: var(--font-secondary);
  font-size: 2.5em;
  font-weight: 100;
  margin: 0px 10vw;
  text-align: center;
  line-height: 45px;
}

@media (max-width: 810px) {
  .main-presentation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70vh 20vh;
    grid-template-areas:
    "presentation"
    "social";
  }

  .main-presentation > .presentation {
    grid-area: presentation;
    margin: auto;
  }

  .main-presentation > .social {
    grid-area: social;
    display: flex;
    flex-flow: row;
  }

  .main-presentation > .social > a {
     margin: auto;
  }

  .main-presentation > .social,
  .main-presentation > .sidenav {
    margin: 0 10px;
  }

  .main-presentation > .presentation > .photo {
    margin-bottom: 4vh;
  }

  .main-presentation > .presentation > .photo > .img {
    width: 30vw;
    height: 30vw;
    min-width: 130px;
    min-height: 130px;
  }

  .main-presentation > .presentation > .resume {
    font-size: 1.26em;
    margin: 0px 5vw;
  }
}
