.grid-home,
.grid-about,
.grid-projects,
.grid-contacts {
    display: grid;
    grid-template-columns: 5% 90%;
    grid-template-rows: 90vh;
    grid-template-areas:
		"conten conten"
	;
    margin: 0vh 7.07vw;
    padding-top: 8vh;
} 


@media (max-width: 810px) {
    .grid-home,
    .grid-about,
    .grid-projects,
    .grid-contacts {
        margin: 0vh 0vw;
        padding-top: 10vh;
        grid-template-columns: 10% 90%;
    }
}