body {
    font-family: var(--font-primary);
    color: var(--color-primary);
    background-color: var(--color-primary);
    overflow: hidden;
    -webkit--overflow-scrolling: touch;
    --ms-overflow-style: --ms-autohiding-scrollbar;
}

a {
    color: var(--color-primary);
}